.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

/* 
  .form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(236, 54, 54, 0.25); */
  
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle {
    outline: 0;
  }

.nav-item1{
    font-size:130%;
    font-weight:600;
    color:black !important;
    text-decoration: none;
    margin-top: 10%;
    border-radius: 5%;

}

.nav-item2{
  font-size: large;
  font-weight:500;
  text-decoration: none;
  background: rgba(83, 23, 23, 0.155);
}

.nav-item1:hover{
    background:whitesmoke;
    font-variant:small-caps;
}

.nav-item2{
  
  text-decoration: none;
  margin-top: 10%;
  margin-left: 0%;
  
}

.fs-4:hover{
    font-size: xx-large;
    color:rgb(228, 22, 22);
    text-decoration:overline;
}

.logo {
  width: 300px; 
  height: 80px;
  margin-bottom: -30%;
  margin-top: -15%;

}


body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.walletBtnAdd{
  text-align:center;
  color:white;
  margin-left:85%;
  margin-bottom: -1%;
}

.nav-link{
  color:black !important;
  
}

.linkcls{
  text-decoration: none;
}